<style lang="scss" scoped>
.el-row + .el-row {
  margin-top: 20px;
}

#drop-box {
  padding: 50px;
  border: 4px dashed #999999;
  font-size: 20px;
  color: #999999;
  text-align: center;
}

.el-row {
  display: flex;
  align-items: center;
}

.ml10 {
  margin-left: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
</style>

<template>
  <div>123</div>
</template>

<script>
import parse from '../script/parse'
import { checkGmInstalled, isDirectory, path } from '../script/utils'

function addEventListener () {
  const dropBox = document.getElementById('drop-box')

  dropBox.addEventListener('drop', e => {
    e.preventDefault()
    e.stopPropagation()

    if (e.dataTransfer.files.length > 1) return this.$message.error('一次请拖入一个文件夹')
    const filePath = e.dataTransfer.files[0].path

    if (!isDirectory(filePath)) return this.$message.error('请拖入文件夹')

    this.inputPath = filePath
    this.outputPath = path.join(filePath, '.转换完成')

    if (this.auto) this.parse()
  })

  dropBox.addEventListener('dragover', e => {
    e.preventDefault()
    e.stopPropagation()
  })
}

export default {
  name: 'index',
  data () {
    return {
      gmInstalled: true,
      run: false,
      progress: 0,
      errorLog: [],
      current: '',
      auto: true,

      inputPath:
        process.env.NODE_ENV === 'development'
          ? 'C:\\Users\\Fuego\\Desktop\\产品中心'
          : '',
      outputPath:
        process.env.NODE_ENV === 'development'
          ? 'C:\\Users\\Fuego\\Desktop\\产品中心\\.转换完成'
          : '',
      fillColor: '#ffffff',
      targetWidth: 750,
      targetHeight: 750,
      mode: 2
    }
  },
  methods: {
    choosePath (pop) {
      this.$electron.remote.dialog.showOpenDialog(
        { properties: ['openDirectory'] },
        path => {
          if (typeof path === 'undefined') return
          this[pop] = path.pop()
        }
      )
    },
    parse () {
      if (this.inputPath === '') return this.$message.error('请选择图片路径')
      if (this.outputPath === '') return this.$message.error('请选择输出路径')

      this.run = true

      parse({
        inputPath: this.inputPath,
        outputPath: this.outputPath,
        fillColor: this.fillColor,
        targetWidth: this.targetWidth,
        targetHeight: this.targetHeight,
        mode: this.mode,

        update: (current, progress) => {
          this.current = current
          this.progress = progress
        },
        fail: err => {
          this.errorLog.push(err)
        },
        success: () => {
          this.run = false
          this.$message.success('转换完成')
        }
      })
    },

    format: percentage => `${percentage}%`,

    reset (value) {
      if (value === 'color') return (this.fillColor = '#ffffff')
      if (value === 'width') return (this.targetWidth = 750)
      if (value === 'height') return (this.targetHeight = 750)

      this.fillColor = '#ffffff'
      this.targetWidth = 750
      this.targetHeight = 750
      this.inputPath = ''
      this.outputPath = ''
      this.progress = 0
      this.errorLog = []
      this.current = ''
      this.mode = 2
      this.auto = true
    },

    openPath (path) {
      console.log(path)
      this.$electron.shell.openExternal(path)
    }
  },
  mounted () {
    Reflect.apply(addEventListener, this, [])
    // console.log(this.$electron)
  },

  created () {
    this.gmInstalled = checkGmInstalled()
  }
}
</script>
