<style lang="scss" scoped>
.css {
  background-color: blue;
}
</style>

<template>
  <div class="css">123</div>
</template>

<script>

export default {
  name: 'index',
  data () {
    return {
    }
  },
  methods: {
    choosePath (pop) {
      this.$electron.remote.dialog.showOpenDialog(
        { properties: ['openDirectory'] },
        path => {
          if (typeof path === 'undefined') return
          this[pop] = path.pop()
        }
      )
    },
    parse () {
      if (this.inputPath === '') return this.$message.error('请选择图片路径')
      if (this.outputPath === '') return this.$message.error('请选择输出路径')

      this.run = true
    },

    format: percentage => `${percentage}%`,

    reset (value) {
      if (value === 'color') return (this.fillColor = '#ffffff')
      if (value === 'width') return (this.targetWidth = 750)
      if (value === 'height') return (this.targetHeight = 750)

      this.fillColor = '#ffffff'
      this.targetWidth = 750
      this.targetHeight = 750
      this.inputPath = ''
      this.outputPath = ''
      this.progress = 0
      this.errorLog = []
      this.current = ''
      this.mode = 2
      this.auto = true
    },

    openPath (path) {
      console.log(path)
      this.$electron.shell.openExternal(path)
    }
  },
  mounted () {
    Reflect.apply(addEventListener, this, [])
    // console.log(this.$electron)
  },

  created () {
  }
}
</script>
