<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>檔案轉移</title>
  <!-- <% if (htmlWebpackPlugin.options.nodeModules) { %>
  <script>
    require('module').globalPaths.push(`<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g,'\\\\') %>`)
  </script>
  <% } %> -->
</head>

<body>
  <div id="app"></div>
  <!-- <% if (!process.browser) { %>
  <script>
    if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(
      /\\/g, '\\\\')
  </script>
  <% } %> -->
</body>

</html>
