<style lang="scss">
#app {
  font-family: sans-serif;

  h1 {
    color: #cc3333;
  }
}
</style>

<template>
  <div id="app">
    <h1>{{ msg }}</h1>
    <input type="text" v-model="msg" />
    <button @click="fetchData" />
  </div>
</template>

<script>
const an = 1

export default {
  name: 'App',
  data () {
    return {
      msg: 'Welcome to Your Vue.js'
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      this.msg = 'he'
    }
  }
}
</script>
